<div class="todo">
<h1>Todo</h1>	

<h3><%=@todo.description%></h3>
	<div>Completed: <%= @todo.flag%></div>
	<div>Created on: <%= @todo.created_at%></div>
	<div>Due date: <%= @todo.due_date%></div>

</div>